/*structure*/

body, html{
    width: 100%;
    height: 100%;
}
.az-header{
	min-height: 141px;
	max-height: 242px;
	border-bottom: 4px solid #f5f6f9;
	width: 100%;
	background: #fff;
	box-shadow: 0px 15px 15px lighten(#b4b4b8, 10%);
}
.az-content{
    width: 100%;
    min-height:100%;
    background: url(../img/az-background.jpg) repeat top left;
}
.az-buffer{
    width: 100%;
    height: 306px;
}
.az-footer{
    height: 346px;
    margin-top: -346px;
	padding-top: 40px;
	position: relative;
	background: #eeeff3;
}
.az-sidebar{
	background: #fff;
	width: 100%;
}
.az-middle{
	// padding-top: 27px;
}
.az-content-left, .az-content-right{
	margin-top: 27px;
	background: #fff;
	box-shadow: 0px 15px 15px lighten(#b4b4b8, 10%);
	position: relative;
	z-index: 1;
	padding: 8px 7px;
}
.az-border{
	border: 1px solid #eff2f5;
}

/*structure*/

@media only screen and (min-width : 320px) {

}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {

}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {

}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 15px solid blue;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}