/*structure*/

body, html{
    width: 100%;
    height: 100%;
}
.az-header{
	min-height: 141px;
	// max-height: 242px;
	border-bottom: 4px solid #f5f6f9;
	width: 100%;
	background: #fff;
	box-shadow: 0px 15px 15px lighten(#b4b4b8, 10%);
}
.az-content{
    width: 100%;
    min-height:100%;
    background: url(../img/az-background.jpg) repeat top left;
}
.az-buffer{
    width: 100%;
    height: 306px;
}
.az-footer{
    height: 346px;
    margin-top: -346px;
	padding-top: 40px;
	position: relative;
	background: #eeeff3;
}
.az-middle{
	// padding-top: 27px;
}
.az-content-left, .az-content-right{
	margin-top: 27px;
	background: #fff;
	box-shadow: 0px 15px 15px lighten(#b4b4b8, 10%);
	position: relative;
	z-index: 1;
	padding: 8px 7px;
}
.az-border{
	border: 1px solid #eff2f5;
}

/*structure*/


/*sidebar*/
.az-sidebar{
	width: 100%;
}
.az-sidebar-inner{
	padding: 8px 7px;
}
.az-banner{
	width: 100%;
	position: relative;
	max-width: 250px;
	margin: 0 auto;
	img{
		width: 100%;
		height: auto;

	}
	.az-banner-content{
		position: absolute;
		bottom: 50px;
		padding: 0px 25px;
		span{
			font-family: "PFBeauSansPro-Bold";
			font-size: 24px;
			background: #29292e;
			line-height: 24px;
			padding: 5px;
			display: inline-block;
			margin-top: 1px;
			color: #fff;
			letter-spacing: -0.025em;
			white-space: nowrap;
		}
		a{
			font-family: "PFBeauSansPro-Bold";
			font-size: 14px;
			text-transform: uppercase;
			background: #f3b217;
			line-height: 14px;
			padding: 9px 14px;
			border-radius: 2px;
			display: inline-block;
			margin-top: 10px;
			color: #fff;
		}
	}
}
.az-title1{
	height: 45px;
	line-height: 45px;
	font-family: "PFBeauSansPro-SeBold";
	font-size: 24px;
	color: #000;
	position: relative;
	padding: 0px 5px 0 20px;
	display: block;
}
.az-title1:before{
	content: '';
	position: absolute;
	top: 0px;
	left: 20px;
	width: 70px;
	height: 2px;
	background: #f3b217;
}
.az-opros-text{
	font-family: "PFBeauSansPro-Reg";
	font-size: 16px;
	line-height: 20px;
	padding: 10px 20px;
	background: #f1f4f6;
	color: #000;
}
.az-opros-text_style{
	background: #fff;
}
/*sidebar*/


/*radio*/
.az-radio{
	padding: 12px 20px;
	font-size: 0px;
	input[type="radio"]{
		display: none;
	}
	label{
		font-family: "PFBeauSansPro-Reg";
		font-size: 15px;
		line-height: 15px;
		margin-top: 10px;
		margin-left: 35px;
		color: #000;
		position: relative;
		display: inline-block;
		white-space: nowrap;
		cursor: pointer;
	}
	label:before{
		content: '';
		position: absolute;
		top: 50%;
		left: -35px;
		transform: translate(0, -50%);
		background: url(../img/radio.png) no-repeat top left;
		width: 21px;
		height: 21px;
	}
	input[type="radio"]:checked + label:before{
		background: url(../img/radioactive.png) no-repeat top left;
	}
	.az-num1{
		background: #f3b217;
		height: 2px;
		margin-left: 35px;
		display: inline-block;
		vertical-align: middle;
		transform: translate(0, -100%);
	}
	.az-num2{
		display: inline-block;
		padding-left: 7px;
		font-family: "PFBeauSansPro-Reg";
		font-size: 9px;
		color: #91969a;
	}
	.az-vote{
		text-align: center;
		.az-vote1{
			font-family: "PFBeauSansPro-Bold";
			font-size: 14px;
			line-height: 40px;
			color: #fff;
			background: #e32b45;
			text-align: center;
			text-transform: uppercase;
			width: 160px;
			display: inline-block;
			border-radius: 3px;
		}
		.az-vote2{
			font-family: "PFBeauSansPro-Reg";
			font-size: 14px;
			line-height: 40px;
			color: #5c5f62;
			display: block;
			
		}
	}
	
}
/*radio*/

/*otziv*/
.az-otziv-inner{
	position: relative;
	background: #f6f8f9;
	padding: 10px 20px;
	.az-otziv-inner1{
		height: 21px;
		width: 100%;
		img{
			height: 21px;
			width: auto;
			margin: 0 6px;
		}
		span{
			line-height: 21px;
			font-family: "PFBeauSansPro-Reg";
			font-size: 12px;
			color: #818487;
			vertical-align: top;
		}
	}
	.az-otziv-inner2{
		line-height: 19px;
		font-family: "PFBeauSansPro-Reg";
		font-size: 14px;
		font-style: italic;
		color: #3f4143;
		padding: 5px 0px;
	}
}
.az-otziv-inner:before{
	content: '';
	position: absolute;
	bottom: 100%;
	left: 24px;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 7px solid #f6f8f9;
}
.az-otziv-inner3{
	font-size: 0px;
}
.az-star-yellow{
	width: 11px;
	height: 12px;
	background: url(../img/az-star-yellow.png) no-repeat top left;
	display: inline-block;
}
.az-star-grey{
	width: 11px;
	height: 12px;
	background: url(../img/az-star-grey.png) no-repeat top left;
	display: inline-block;
}
/*otziv*/


/*zapisi*/
.az-zapis{
	padding: 10px 10px 10px 20px;
}
.az-zapis-border{
	position: relative;
}
.az-zapis-border:before{
	content: '';
	position: absolute;
	bottom: 0px;
	left: 20px;
	width: calc(100% - 40px);
	height: 1px;
	background: url(../img/az-zapis-border.png) repeat-x left top;
}
.az-zapis-left{
	float: left;
	width: 30%;
	max-width: 70px;
	img{
		width: 100%;
		height: auto;
	}
}
.az-zapis-right{
	float: right;
	width: 65%;
	min-width: calc(95% - 70px);
}
.az-zapis1{
	font-family: "PFBeauSansPro-Reg";
	font-size: 16px;
	line-height: 19px;
	color: #000;
}
.az-zapis2{
	display: block;
	padding-left: 16px;
	position: relative;
	font-family: "PFBeauSansPro-Reg";
	font-size: 12px;
	color: #818487;

}
.az-zapis2:before{
	content: '';
	position: absolute;
	top: 50%;
	left: -3px;
	transform: translate(0, -50%);
	background: url(../img/az-label.png);
	width: 14px;
	height: 14px;
}
/*zapisi*/

/*margins*/
.az-margin-top35{
	margin-top: 35px;
}
.az-margin-top20{
	margin-top: 20px;
}
.az-margin-top10{
	margin-top: 10px;
}
.az-margin-top16{
	margin-top: 16px;
}

@media only screen and (min-width : 320px) {

}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {

}

@media only screen and (min-width : 992px) {
	.az-zapis-left{
		float: left;
		width: 30%;
		img{
			width: 100%;
			height: auto;
		}
	}
	.az-zapis-right{
		float: right;
		width: 65%;
	}
	.az-header{
		max-height: 242px;
	}
	.header-buffer{
		height: 401px;
	}

}

@media only screen and (min-width : 1200px) {

}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 15px solid blue;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}